@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sudoku-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  height: 97dvh;
  overflow: hidden;
}

.room-input {
  padding: 10px;
  font-size: 1rem;
  margin: 10px;
  width: 200px;
  max-width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.join-button, .create-button, .check-button {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 10px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

.join-button:hover, .create-button:hover, .check-button:hover {
  background-color: #45a049;
}

.sudoku-board {
  display: inline-block;
  margin-top: 20px;
}

.sudoku-row {
  display: flex;
  justify-content: center;
}

.sudoku-cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.25rem;
  margin: 2px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.sudoku-cell:disabled {
  background-color: #f0f0f0;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  text-align: center;
}

@media (max-width: 768px) {
  .sudoku-container {
    height: auto;
  }
  .sudoku-cell {
    width: 35px;
    height: 35px;
    font-size: 1rem;
  }

  .join-button, .create-button, .check-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }


  .room-input {
    width: 150px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .sudoku-cell {
    width: 28px;
    height: 28px;
    font-size: 0.85rem;
  }

  .join-button, .create-button, .check-button {
    padding: 6px 12px;
    font-size: 0.8rem;
    margin: 20px;
  }

  .room-input {
    width: 100%;
    font-size: 0.85rem;
  }
  .popup-content {
    width: 100%;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .sudoku-board {
    max-width: 300px;
    gap: 1px;
  }

  .sudoku-cell {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .sudoku-board {
    max-width: 250px;
    gap: 1px;
  }

  .sudoku-cell {
    font-size: 1rem;
  }
}
